/* @Filename : index.css
   @Author : mun-jung-su
   @Description : CSS
*/

/* -------------전체 공통 초기화------------------ */
* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
}
.container{
    margin: auto;
    width: auto;
}
.clearfix::after {
    display: block;
    content: "";
    float: none;
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
   
}
/* ---------------------------헤더부분------------------------ */
.sns {
    
    line-height: 100px;

}
.header {
    position: relative;
}
.header_sns {
    width:300px;
    margin-left: 100px;
}
.header_sns li {
    padding: 0 5px
}

.sns li img {
    width: 30px;
}
.logo {
    position: absolute;
    left: 48%;
    top: 20px;
    
}
.logo img {
    width: 80px;
    
    
}
.help {
    position:absolute;
    right:0;
    top:40px;
    margin-right: 30px;
    text-align: center;
}
.help ul li img{
    width: 40px;
    
}
.help ul li:last-child{
    margin-top: -10px;
}
.help ul li a{
    display: block;
    padding: 10px;
}
/* --------------상단 메뉴바 부분--------------- */
.menu-list {
    
   
    border-top: 1px solid gray;
    text-align: center;
   
   
}

.menu-list ul {
    
    display: inline-block;
    
   
    
    
}
.menu-list > ul > li {
   display: inline-block;
    position: relative;
   margin-right: 60px;
   
}
.menu-list ul > li ul{
    
    position:absolute;
    width: 100%;
    left: 0;
}
.menu-list  ul > li ul li {
    white-space: nowrap;
    
}
.menu-list li a {
    display: block;
    text-decoration: none;
    padding: 10px;
}
.menu-list li span {
    display: block;
}
.menuwrap {
    height:40px;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    transition: height 0.5s;
}


.menu-list > ul > li > a > img {
    
   width: 100%;
}

.top-header {
    border-top: 2px solid rgb(255, 116, 197);
    height: 120px;
    background : url("/demo/baskin/baskin_img/bg_menu.jpg");
    background-repeat: no-repeat;

}

.banner {
    height:120px;
    background-image: url(/demo/baskin/baskin_img/1610330197.jpg);
    background-size: cover;
    background-position: center center;
}

/* --------------------------------------컨텐트부분------------------------- */
.content input[type="radio"] {
    display: none;
}

.content .slidewrap {
    
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.content .slide-list {
    white-space: nowrap;
    font-size: 0;
}

.content .slide-list > li {
    display: inline-block;
    vertical-align: middle;
    width:100%;
    transition: all 0.5s;
}

.content .slide-list a img {
    width : 100%;
}
.slide-list a {
    display: block;
    
}
.slide-list label {
    position: absolute;
    z-index: 10;
    top : 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.slide-list .left {
    background:url(/demo/baskin/baskin_img/btn_banner_prev.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    left: 30px;
}
.slide-list .right {
    background : url(/demo/baskin/baskin_img/btn_banner_next.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    right: 30px;
}
.content [id="slide01"]:checked ~ .slidewrap .slide-list > li {transform:translateX(0%);}
.content [id="slide02"]:checked ~ .slidewrap .slide-list > li {transform:translateX(-100%);}
.content [id="slide03"]:checked ~ .slidewrap .slide-list > li {transform:translateX(-200%);}
.content [id="slide04"]:checked ~ .slidewrap .slide-list > li {transform:translateX(-300%);}
.content [id="slide05"]:checked ~ .slidewrap .slide-list > li {transform:translateX(-400%);}


/* ---------------------------------이벤트부분-------------------- */
.event {
    text-align:center;
    margin: 100px 0;
}

.order-content {
    position: relative;
}
.btn-slider {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    
   
}
.btn-slider span {
    border-radius:50%;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border: 1px solid gray;
    cursor: pointer;
}
.btn-slider span:hover{
    background-color:black;
}
.order-content {
    white-space:nowrap;
    position: relative;
    overflow: hidden;
    width:1200px;
    margin: auto;
}
.orderwrap {
    width:1200px;
    margin: auto;
    position: relative;
    transition: all 0.5s;
   
}
#box {
    width:1200px;
    display: inline-block;
    
    
}
#box li {
    width:25%;
}
#box li a {
    display: block;
    
}
#box li a span {
    display: block;
    padding: 3px 0;
}
/* -------------------메뉴리스트-------------------------- */
.br_menu {
    background: url(/demo/baskin/baskin_img/bg_menu.jpg);
    background-position: -500px;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.menu_list {
    display:block;
    text-align: center;
    padding-top: 100px;
}
.br_title {
    display: block;
    text-align: center;
    position: relative;
    top: 50px;
}


/* ---------------배달부분---------------------- */

.delivery_wrap {
    width: 1000px;
    margin: auto;
}
.delivery > li {
    width:50%;
}
.delivery li img {
    width:100%;
}
.delivery_text {
    width:1000px;
    margin: auto;
    padding: 50px 0;
    
    
}
.delivery_title {
    display: inline-block;
    text-align: center;
    width: 50%;
    
}
/* ---------------------sns/인스타 부분---------------------------- */
.sns_section  {
    text-align: center;
    margin-top: 50px;
}
.sns_icon {
    width:300px;
    margin: auto;
}
.line {
    margin-bottom: 50px;
}
.sns_icon li {
    width:20%;
}
.sns_icon li img {
    width: 50px;
}
.instar {
   
    width: 1000px;
    
    margin: auto;
}
.instar li {
    width:20%;
}
.instar li a {
    display: block;
    padding:5px;
}
.instar li a img {
    width: 100%;
}
/* -------------------------------푸터부분-------------------------- */

.footer {
    border-top: 2px solid orange;
    height: 300px;
    
    margin-top: 150px;
}
.footer_menu {
    width: 1000px;
    margin: auto;
    height:80px;
    
}
.footer_menu li a {
    display: block;
    text-align: center;
    line-height:80px;
    text-decoration: none;
    color: gray;

}
.footer_img {
    background-color: rgb(226, 226, 226);
    width: auto;
    margin: auto;
    position: relative;
    
}
.support {
    display:inline-block;
    margin-left: 50px;
   
}
.support li {
    padding: 10px;
}
.align {
    width: 800px;
    margin: auto;
    padding-top: 20px;
}
.btn-group {
    position: relative;
    top: -30px;
}
.footer_info {
    text-align: center;
    
    font-size: 11px;
    
}
.footer_info .box_1 {
    margin-top:30px;
}
.footer_info .box_2 {
    padding-bottom: 100px;
}